<div class="dados-pessoais-card">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="titulo-secao mb-0">Dados Pessoais</h3>

    <ng-container *ngIf="!emEdicao; else botoesEdicao">
      <button type="button" class="btn btn-solicitar" (click)="solicitarCorrecao()">
        Solicitar correção
      </button>
    </ng-container>

    <ng-template #botoesEdicao>
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-cancelar" (click)="cancelarEdicao()">
          Cancelar
        </button>
        <button type="button" class="btn btn-salvar" (click)="salvarCorrecao()">
          Salvar correção
        </button>
      </div>
    </ng-template>
  </div>

  <div class="dados-container">
    <div class="row g-3">

      <!-- Nome -->
      <div class="col-12 col-md-6">
        <div class="campo-box">
          <label class="campo-label">Nome</label>
          <input *ngIf="emEdicao; else viewNome" type="text" class="campo-input"
                 [(ngModel)]="dados.nome" name="nome">
          <ng-template #viewNome>
            <div class="campo-valor">{{ dados.nome }}</div>
          </ng-template>
        </div>
      </div>

      <!-- Matrícula -->
      <div class="col-12 col-md-6">
        <div class="campo-box">
          <label class="campo-label">Matrícula</label>
          <input *ngIf="emEdicao; else viewMatricula" type="text" class="campo-input"
                 [(ngModel)]="dados.matricula" name="matricula">
          <ng-template #viewMatricula>
            <div class="campo-valor">{{ dados.matricula }}</div>
          </ng-template>
        </div>
      </div>

      <!-- Setor -->
      <div class="col-12 col-md-6">
        <div class="campo-box">
          <label class="campo-label">Setor</label>
          <input *ngIf="emEdicao; else viewSetor" type="text" class="campo-input"
                 [(ngModel)]="dados.setor" name="setor">
          <ng-template #viewSetor>
            <div class="campo-valor">{{ dados.setor }}</div>
          </ng-template>
        </div>
      </div>

      <!-- Cargo -->
      <div class="col-12 col-md-6">
        <div class="campo-box">
          <label class="campo-label">Cargo</label>
          <input *ngIf="emEdicao; else viewCargo" type="text" class="campo-input"
                 [(ngModel)]="dados.cargo" name="cargo">
          <ng-template #viewCargo>
            <div class="campo-valor">{{ dados.cargo }}</div>
          </ng-template>
        </div>
      </div>

      <!-- Status -->
      <div class="col-12 col-md-6">
        <div class="campo-box">
          <label class="campo-label">Status</label>
          <input *ngIf="emEdicao; else viewStatus" type="text" class="campo-input"
                 [(ngModel)]="dados.status" name="status">
          <ng-template #viewStatus>
            <div class="campo-valor">{{ dados.status }}</div>
          </ng-template>
        </div>
      </div>

      <!-- Horário padrão -->
      <div class="col-12 col-md-6">
        <div class="campo-box">
          <label class="campo-label">Horário padrão</label>
          <input *ngIf="emEdicao; else viewHorario" type="text" class="campo-input"
                 [(ngModel)]="dados.horarioPadrao" name="horarioPadrao">
          <ng-template #viewHorario>
            <div class="campo-valor">{{ dados.horarioPadrao }}</div>
          </ng-template>
        </div>
      </div>

      <!-- Telefone -->
      <div class="col-12 col-md-6">
        <div class="campo-box">
          <label class="campo-label">Telefone</label>
          <input *ngIf="emEdicao; else viewTelefone" type="text" class="campo-input"
                 [(ngModel)]="dados.telefone" name="telefone">
          <ng-template #viewTelefone>
            <div class="campo-valor">{{ dados.telefone }}</div>
          </ng-template>
        </div>
      </div>

      <!-- E-mail corporativo -->
      <div class="col-12 col-md-6">
        <div class="campo-box">
          <label class="campo-label">E-mail corporativo</label>
          <input *ngIf="emEdicao; else viewEmail" type="email" class="campo-input"
                 [(ngModel)]="dados.emailCorporativo" name="emailCorporativo">
          <ng-template #viewEmail>
            <div class="campo-valor">{{ dados.emailCorporativo }}</div>
          </ng-template>
        </div>
      </div>

    </div>
  </div>
</div>