.app-content,
.login-content {
  min-height: 100vh;
  background-color: var(--app-bg);
}

.app-content {
  display: flex;
  flex-direction: column;
}

.app-content > main {
  flex: 1 0 auto;
}

.login-content,
.login-main {
  margin: 0;
  padding: 0;
}

.login-main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

@media (min-width: 992px) {
  .app-content {
    margin-left: 280px;
  }
}
