<app-sidebar *ngIf="mostrarSidebarFuncionario()"></app-sidebar>
<app-admin-sidebar *ngIf="mostrarSidebarGestaoOuRh()"></app-admin-sidebar>

<div [class.app-content]="mostrarSidebar()" [class.login-content]="!mostrarSidebar()">
  <app-header-component *ngIf="mostrarSidebar()"></app-header-component>

  <main
    [class.container-fluid]="mostrarSidebar()"
    [class.py-4]="mostrarSidebar()"
    [class.login-main]="!mostrarSidebar()"
  >
    <router-outlet></router-outlet>
  </main>

  <app-footer-component *ngIf="mostrarSidebar()"></app-footer-component>
</div>
